/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .banner-image {
   width: 95%;
   margin: 0 auto;
   height: 200px;
   background-image: url('snack_banner.png');
   background-size: cover;
  }
  
  .banner-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }
  
  .snack_logo {
    height: 100%;
    line-height: 300px;
 }

 nav {
   background-color: darkgray;
   max-width: 95%;
   margin: 0px auto;
   height: 40px;
  }
  
  
  nav a {
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    line-height: 40px;
    padding: 11px
  }
  
  .right {
   float: right;
  }
  
  nav a:hover {
   background-color: teal;
 }

 .index-img {
   max-width: 120px;
   max-height: 120px;
   border-radius: 100%;
 }

 .snack-index-img {
   max-width: 150px;
 }

 .index-container {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   width: 95%;
   padding: 15px;
   margin: 0 auto;
 }

 .index-card {
  width: 20%;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  margin: 10px 5px;  
 }

/* ------------ All Forms ------------- */

.form-container {
  text-align: center;
  max-width: 85%;
  margin: 0px auto;
  background-color: darkgray;
  height: 70vh;
}

.form-basic {
  max-width: 70%;
  padding: 20px;
  /* text-align: left; */
  margin: 0px auto;
  background-color: lightgray;
}

.form-input {
  margin: 10px 0;
}


 